<!-- your html code here -->
<div class="container my-4">
    <h1 class="mb-3">Porfolio</h1>
    <p class="mb-2">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
    <div class="row">
        <div class="col-4">
            <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="Project 1">
            <h5 class="text-primary">Project Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="Project 2">
            <h5 class="text-primary">Project Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/big-project-image.png" class="img-fluid mb-3" alt="Project 3">
            <h5 class="text-primary">Project Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae.</p>
        </div>
    </div>
</div>